<div class="container-fluid bg-dark text-light">
    <div class="row text-center p-5">
        <div class="col-4">
            <h5>Information</h5>
            <hr class="m-3"></hr>
            <ul>
                <li><a href="{{ path('home') }}" class="text-light">Accueil</a></li>
                <li><a href="#" class="text-light">Catégories</a></li>
                <li><a href="product" class="text-light">Produits</a></li>
                <li><a href="#" class="text-light">Connexion</a></li>   
            </ul>
        </div>
        <div class="row" id="copyright">
            <div class="container-fluid bg-dark text-light p-2">
                <p class="text-center pt-2">Copyright - Jan</p>
            </div>
        </div>
    </div>
</div>