{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    
{% endblock %}

{% block body %}
<section class="cards-wrapper">
  <div class="card-grid-space">
    
    <a class="card" href="#" style="--bg-img: url(https://www.vie-publique.fr/sites/default/files/styles/large_full/public/en_bref/image_principale/Fruits-et-l%C3%A9gumes.jpg?itok=Co7BMAdj)">
      <div>
        <h2>Fruits et Legumes</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla elit sapien, vitae ornare libero pulvinar ut. Sed est nisl, congue vitae libero at, scelerisque blandit elit. Aenean in faucibus ligula, non porttitor leo.</p>
        
   
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    
    <a class="card" href="#" style="--bg-img: url('https://www.lsa-conso.fr/mediatheque/3/7/4/000427473_5.jpg')">
      <div>
        <h2>Surgelés</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla elit sapien, vitae ornare libero pulvinar ut. Sed est nisl, congue vitae libero at, scelerisque blandit elit. Aenean in faucibus ligula, non porttitor leo.</p>
        
  
      </div>
    </a>
  </div>
    <div class="card-grid-space">
    
    <a class="card" href="#" style="--bg-img: url('https://www.lagrandeepicerie.com/dw/image/v2/BBWG_PRD/on/demandware.static/-/Library-Sites-LGEsharedLibrary/default/dw9d348f1e/Inspirations/Pushs/push-cat-pates_a_tartiner.jpg')">
      <div>
        <h2>Epicerie, Sucrée</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla elit sapien, vitae ornare libero pulvinar ut. Sed est nisl, congue vitae libero at, scelerisque blandit elit. Aenean in faucibus ligula, non porttitor leo.</p>
        
  
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    
    <a class="card" href="#" style="--bg-img: url('https://www.natureo-bio.fr/wp-content/uploads/2017/07/cave-boissons-bio-choix.jpg')">
      <div>
        <h2>Boissons</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla elit sapien, vitae ornare libero pulvinar ut. Sed est nisl, congue vitae libero at, scelerisque blandit elit. Aenean in faucibus ligula, non porttitor leo.</p>
        {# <div class="date">14 Oct 2017</div> #}
   
      </div>
    </a>
  </div>
  
</section>
{% endblock %}
