{% extends 'base.html.twig' %}

{% block title %}Hellow!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
<h2>test2</h2>
{% endblock %}
